@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Share Tech Mono", monospace;
	font-size: 1.3rem;
}

body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 2fr;
	background-color: #22031f;
}

#span-container {
	color: #ffa552;
}

.stopwatch-container,
.buttons-container,
.laps-container {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: 1rem;
}

.stopwatch-container > span {
	margin: 0.5rem;
}

.stopwatch-container {
	grid-column: 1;
	border: 0.5px solid #ffa552;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-self: center;
	align-self: center;
	margin-top: 3rem;
}

.laps-container {
	grid-column: 1/-1;
	grid-row: 2;
	justify-self: center;
	align-self: start;
	margin-top: 2rem;
}

#seconds,
#minutes,
#milliseconds {
	font-size: 2rem;
	color: #ffa552;
}

#laps-count,
#laps-time,
#laps-total-time {
	display: flex;
	flex-flow: column;
	flex-direction: column-reverse;
	align-items: center;
	line-height: 1.5;
}

.break {
	grid-column: 1/-1;
	grid-row: 2;
	align-self: start;
	justify-self: center;
	width: 300px;
	height: 5px;
	background: #faf9f9;
	margin-top: 2rem;
}

p {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
}

.buttons-container {
	grid-column: 2;
	align-self: center;
}

.buttons-container > button {
	margin: 0.5rem;
}

button {
	font-size: 1rem;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-color: #b85769;
	color: #b85769;
	background-color: #22031f;
}

button:nth-child(2),
button:nth-child(3) {
	background-color: #4e354b;
}

ul,
li {
	list-style-type: none;
	margin-top: 0.3rem;
	color: #faf9f9;
}

.laps-container > div {
	margin: 2rem;
}

.column-lap {
	min-width: 120px;
}

.lap-caption {
	color: #ffa552;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
